:root {
  --primary-color: #8ED1DA;
  --secondary-color: #A59FF5;
  --tertiary-color: rgba(228, 228, 228, 0.267);
  --light-blue: #A0D0F5;
  --light-green: #9FF5E3;
  --dark-blue: #9FB5F5;
  --black-blue: rgba(47, 42, 84, 0.763);
  --grey: rgba(244, 241, 241, 0.767);
  --middle-grey: #808c97;
  --title-blue: #5f7eda;
}

.my-footer h5 {
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--tertiary-color);
  font-size: 1.7em;
}

.my-footer p,
.my-footer ul {
  margin: 0;
  padding: 0;
}

.my-footer a {
  color: var(--tertiary-color);
  text-decoration: none;
  font-size: 1.3em;
}

.my-footer a:hover {
  text-decoration: underline;
}

.my-footer .text-center {
  margin-top: 20px;
}

.footer-link {
  color: #fffcfa !important;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-link:hover {
  color: #ffffff;
  text-decoration: underline;
}

.social-icon {
  font-size: 1.5rem;
  margin: 0 10px;
  color: #adb5bd;
  transition: color 0.3s ease-in-out;
}

.social-icon:hover {
  color: #ffffff;
}


/* Efecto wave */
.my-footer {
  background: linear-gradient(135deg, #8ED1DA, #a59ff5);
  padding: 40px 0;
  position: relative;
  color: white;
  overflow: hidden;
  min-height: 400px;
  line-height: 33px;
  margin-top: 130px;
}

/* .my-footer::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(245, 245, 245, 0.579);
  clip-path: ellipse(40% 80% at 40% 0);
} */

/* .my-footer::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: var(--tertiary-color);
  clip-path: ellipse(50% 80% at 50% 20%);
} */

