:root {
  --primary-color: #8ED1DA;
  --secondary-color: #A59FF5;
  --tertiary-color: rgba(228, 228, 228, 0.267);
  --light-blue: #A0D0F5;
  --light-green: #9FF5E3;
  --dark-blue: #9FB5F5;
  --black-blue: rgba(47, 42, 84, 0.763);
  --grey: rgba(244, 241, 241, 0.767);
  --middle-grey: #808c97;
  --title-blue: #5f7eda;
}


.my-footer {
  background-color: var(--secondary-color);
  padding: 20px 0;
  color: var(--grey);
  margin-top: 60px;
}

.my-footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--tertiary-color);
  
}

.my-footer p,
.my-footer ul {
  margin: 0;
  padding: 0;
}

.my-footer a {
  color: var(--tertiary-color);
  
  text-decoration: none;
}

.my-footer a:hover {
  text-decoration: underline;
}

.my-footer .text-center {
  margin-top: 20px;
}
