:root {
  --primary-color: #06257bdc;
  /* Azul */
  --secondary-color: #918361;
  /* Gris oscuro */
  --white: #fff;
}

.my-footer {
  background-color: var(--primary-color);
  padding: 20px 0;
  color: var(--white); /* Añadido para el texto blanco */
  margin-top: 60px;
}

.my-footer h5 {
  font-weight: bold;
  margin-bottom: 15px;
  color: var(--white); /* Añadido para el texto blanco */
}

.my-footer p,
.my-footer ul {
  margin: 0;
  padding: 0;
}

.my-footer a {
  color: var(--white); /* Añadido para el texto blanco */
  text-decoration: none;
}

.my-footer a:hover {
  text-decoration: underline;
}

.my-footer .text-center {
  margin-top: 20px;
}