/* Colores seleccionados */
:root {
  --primary-color: #8ED1DA;
  --secondary-color: #a59ff5;
  --tertiary-color: rgba(228, 228, 228, 0.267);
  --light-blue: #A0D0F5;
  --light-green: #9FF5E3;
  --dark-blue: #9FB5F5;
  --black-blue: rgba(47, 42, 84, 0.763);
  --grey: rgba(244, 241, 241, 0.767);
  --middle-grey: #808c97;
  --title-blue: #5f7eda;
}

.navbar {
  background-color: var(--tertiary-color);
  padding: 20px 20px;
  border-top: 0.4em solid var(--primary-color);
}

/* 
.navbar-nav .dropdown .btn {
  border: none;
}
*/
.navbar-nav .dropdown .btn a,
.navbar-nav .dropdown .btn {
  color: var(--middle-grey) !important;
  font-weight: 800;
}

.navbar-nav .dropdown .dropdown-menu a {
  color: var(--middle-grey) !important;
}

.navbar a {
  color: var(--middle-grey) !important;
  font-weight: 600;
}

.browser {
  padding: 0%;
}

.btn-browser {
  background: var(--primary-color);
  color: rgb(255, 255, 255) !important;
}

.btn-browser:hover {
  background: #9ddce6;
  color: rgb(255, 255, 255) !important;
}


body {
  background-color: rgba(245, 245, 245, 0.579);
}

/* estios de travel */
.travel-detail {

  width: 1000px;
}

.travel-item {
  min-height: 800px;
  border: 2px solid #ede5e5;
  border-radius: 8px;
  overflow: hidden;
  padding: 15px;
}

.travel-detail h2 {
  font-size: 2.5rem;
  /* Tamaño más grande */
  font-weight: bold;
  /* Negrita */
  color: var(--middle-grey);
  /* Color oscuro */
  margin-bottom: 5rem !important;
  /* Separación */
}

.travel-detail .travel-description {
  font-size: 1.2rem;
  color: var(--middle-grey);
  line-height: 1.8;
  /* Más legible */
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}


.travel-img {
  width: 100%;
  /* Ocupa todo el ancho del contenedor */
  height: 250px;
  /* Altura fija para todas las imágenes */
  object-fit: cover;
  /* Ajuste para evitar distorsión */
  border-radius: 8px;
}

.btn-sm {
  margin-top: 30px;
  padding: 10px 16px;
  /* Botón más pequeño */
  font-size: 1rem;
  /* Tamaño de texto más parecido al contenido */
  background-color: var(--primary-color);
  border: none;
}

.btn-sm:hover {
  margin-top: 30px;
  padding: 10px 16px;
  /* Botón más pequeño */
  font-size: 1rem;
  /* Tamaño de texto más parecido al contenido */
  background-color: #9ddce6;
  border: none;
}


/* Estilos para las pestañas */
.custom-tabs .nav-link {
  color: var(--primary-color);
  background: var(--dark-blue);
  margin-right: 5px;
  border-radius: 8px 8px 0 0;
  padding: 10px 15px;
  transition: background 0.3s ease, color 0.3s ease;

}

.nav-item:hover {
  background-color: #8ed1da2c;
  border-radius: 8px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  color: white;
  background: rgb(206, 200, 200);
}

.custom-tabs .nav-link.active {
  background: var(--primary-color);
  color: var(--dark-blue);
  font-weight: bold;
}

/* Contenedor de contenido */
.custom-tab-content {
  color: var(--black-blue);
  min-height: 120px;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.nav-tabs .nav-link {
  color: var(--middle-grey);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
}

.nav-tabs .nav-link.active {
  background-color: var(--primary-color);
  color: white;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2) !important;
}

.banner h1,
.banner p {
  color: white;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

.banner {
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("/images/portada-viajes.jpg") center/cover no-repeat!important; */

  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("/images/banner.webp") center/cover no-repeat!important; */

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("/images/banner.webp") center/cover no-repeat !important;
}

.popular-destinations {
  width: 100%;
  border-radius: 8px;
  background-color: var(--dark-blue);
}

.popular-destinations .card {
  border: none;
  /* transition: transform 0.3s ease-in-out; */
  padding: 15px;
}


.popular-destinations img {
  height: 120px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}



.d-grid {
  justify-items: end !important;
}

.d-grid>.btn-primary {
  justify-items: end !important;
  background-color: var(--primary-color) !important;
  color: white !important;
  border: none;
}


/* footer */


.my-footer {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 100px;
}

.my-footer a {
  line-height: 30px;
}

.my-footer .copyright {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 130px;

}

/* fuente google */
.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
}

.contact {
  color: white;
}

.text-primary {
  color: var(--middle-grey) !important;
}


.pagination .page-item.active .page-link {
  background-color: var(--primary-color) !important;
  border: 1px solid var(--tertiary-color);
  color: rgb(255, 251, 251) !important;
}

.pagination .page-item .page-link {
  color: var(--middle-grey) !important;
}

.my-travels {
  min-height: 300px;
}

.modal-content {
  /* min-width: 700px; */
}

.modal-content .modal-header {
  background-color: var(--primary-color);
  color: white;
}

.modal-content .btn-close {
  /* filter: invert(1); Convierte el negro en blanco */
  background-color: white;
}

.modal-content>.modal-body .btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: none;
}